#!/bin/bash

docker rm -f {{ app_name }}
docker rmi -f {{ app_name }}

{% if app_name == "app" -%}
docker build -t {{ app_name }} .
{% else -%}
docker build -f Dockerfile.{{ app_name }} -t {{ app_name }} .
{% endif -%}
docker image prune -f

docker run -d --name={{ app_name }} --restart=always --privileged -p 10086:8000 -v /data/{{ app_name }}:/data {{ app_name }}
