use rand::distributions::{Alphanumeric, DistString};
use std::{borrow::Cow, collections::HashMap};
use validator::ValidationError;

pub fn nonce(size: usize) -> String {
    let mut rng = rand::thread_rng();
    Alphanumeric.sample_string(&mut rng, size)
}

pub fn new_validate_err(s: String) -> ValidationError {
    ValidationError {
        code: Cow::from(""),
        message: Some(Cow::from(s)),
        params: HashMap::new(),
    }
}
